    <div id="spinner" class="spinner app-hidden"></div>
    <div id="featureProgressStatus" class="feature-progress-status app-hidden" aria-live="polite"></div>

    <div id="svgWrapper"></div>

    <div id="tooltip" class="tooltip app-hidden"></div>
    
    

    

    <div id="drop_area" class="app-no-select">
        Upload your audio file(s) here to start 
        <em class="app-inline-title">
        Soundsketching
        </em>! 🔊🎨
        <input type="file" id="hiddenFileInput" class="app-hidden" accept="audio/*" multiple>
    </div>
