.accordion-content {
    display: none; /* Initially hidden */
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-content.open {
    display: block;
}
.accordion-header {
    cursor: pointer;
    padding: 10px;
    background-color: #7dd2d4;
    color: #000;
    /* border: 1px solid #000; */
    border-radius: 4px;
    margin-bottom: 10px;
}
.accordion-header:hover {
    background-color: #68a5a6;
}