.accordion-content {
    display: none; /* Initially hidden */
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-content.open {
    display: block;
}
.accordion-header {
    cursor: pointer;
    padding: 20px;
    background-color: #7dd2d4;
    color: #000;
    /* border: 1px solid #000; */
    border-radius: 4px;
    border-bottom: unset;
    /* margin-bottom: 10px; */
    transition: background-color 0.3s ease;
}
.accordion-header:hover {
    background-color: #68a5a6;
}