.range-slider-column {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.range-slider {
    width: 100%;
    height: 12px;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    width: 200px;
    font-size: 12px;
    margin-top: 5px;
}

/* Default: Hide tooltips */
.noUi-tooltip {
    display: none;
}

/* Show tooltips when the handle is active (sliding) */
.noUi-active .noUi-tooltip {
    display: block;
}
.noUi-horizontal .noUi-handle {
    width: 17px;
    height: 17px;
    right: -10px;
    top: -3px;
}

.noUi-handle:after, .noUi-handle:before {
    content: "";
    display: block;
    position: absolute;
    height: 9px;
    width: 1px;
    background: #E8E7E6;
    left: 2px;
    top: 3px;
}

.noUi-handle:after {
    left: 11px;
}

.disabled-slider {
    opacity: 0.5;
    pointer-events: none;
}