<script src="{{ sandbox_static_path(request, 'js/control-setup.js') }}?v=frontend-migration-92"></script>
<script src="{{ sandbox_static_path(request, 'js/app-init.js') }}?v=frontend-migration-73"></script>
<script src="{{ sandbox_static_path(request, 'js/header.js') }}?v=frontend-migration-114"></script>
<script src="{{ sandbox_static_path(request, 'js/submitButton.js') }}?v=frontend-migration-94"></script>
<script src="{{ sandbox_static_path(request, 'js/tooltip.js') }}?v=frontend-migration-28"></script>
<script src="{{ sandbox_static_path(request, 'js/auxiliaryFunctions.js') }}?v=frontend-migration-40"></script>
<script src="{{ sandbox_static_path(request, 'js/featureProcessors.js') }}?v=frontend-migration-41"></script>
