<script src="{{ sandbox_static_path(request, 'js/log-mel-setup.js') }}?v=frontend-migration-66"></script>
<script src="{{ sandbox_static_path(request, 'js/sliderFunctions.js') }}?v=frontend-migration-66"></script>
<script src="{{ sandbox_static_path(request, 'js/resetButton.js') }}?v=frontend-migration-66"></script>
<script src="{{ sandbox_static_path(request, 'js/presets.js') }}?v=frontend-migration-4"></script>
<script src="{{ sandbox_static_path(request, 'js/presetButton.js') }}?v=frontend-migration-66"></script>
<script src="{{ sandbox_static_path(request, 'js/recalculateButton.js') }}?v=frontend-migration-90"></script>
<script src="{{ sandbox_static_path(request, 'js/autoResketch.js') }}?v=frontend-migration-89"></script>
<script src="{{ sandbox_static_path(request, 'js/objectifier-status.js') }}?v=frontend-migration-135"></script>
<script src="{{ sandbox_static_path(request, 'js/feature-extraction-status.js') }}?v=frontend-migration-138"></script>
<script src="{{ sandbox_static_path(request, 'js/mode-setup.js') }}?v=frontend-migration-66"></script>
<script src="{{ sandbox_static_path(request, 'js/polygon-mode-setup.js') }}?v=frontend-migration-66"></script>
